<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <meta name="description" content="{{description}}" />
  <title>{{title}}</title>
</head>

<body>
  {{#if isHeader}}
  <header>
    Header of website
  </header>
  {{/if}}


  {% body %}

  {{#if isFooter}}
  <footer>
    Footer of website
  </footer>
  {{/if}}


  <script src="./bundle.js"></script>
</body>

</html>
